<h2>Gracias por su compra</h2>
<p>Su pago ha sido procesado con éxito.</p>
<p>En cuanto verifiquemos su pago, nos pondremos en contacto con usted para coordinar el envio. Si esto no sucede a la brevedad, envia un mensaje a 72164449 adjuntando tu comprobante de pago.</p>
<a asp-action="ListadoAccesorios" asp-controller="Accesorios">Volver a la tienda</a>
