@{
    ViewBag.Title = "Pagar con QR";
}

<h2>Pagar con QR</h2>

@if (!string.IsNullOrEmpty(ViewBag.QRImagePath))
{
    <div class="text-center">
        <p>Por favor, descarga la imagen para proceder a realizar el pago.</p>
        <img src="@ViewBag.QRImagePath" alt="Código QR para pago" class="img-fluid" style="max-width: 300px; height: 340px;" />

        <div class="mt-3">
            <a href="@ViewBag.QRImagePath" download class="btn btn-primary">Descargar Imagen</a>
            <a href="/CarritoDeCompras/FormularioTransaccionBancaria" class="btn btn-success">Siguiente Paso</a>
        </div>
    </div>
}
else
{
    <p class="text-danger">No se pudo cargar la imagen del código QR. Intenta nuevamente.</p>
}
